<form #signupForm="ngForm" (ngSubmit)="signupForm.form.valid && onRegister(signupForm)">
    <div class="form-group">
        <label for="firstnameField">First Name</label>
        <input type="text" 
            class="form-control" 
            id="firstnameField" 
            placeholder="Enter First Name"
            name="firstname"
            #name="ngModel"
            [(ngModel)]="register.firstname" 
            [ngClass]="{ 'is-invalid': signupForm.submitted && name.invalid }" 
            required>
            <div class="invalid-feedback" *ngIf="signupForm.submitted && name.invalid">
                <p *ngIf="name.errors.required">Firstname required</p>
            </div>
    </div>
    <div class="form-group">
        <label for="lastnameField">Last Name</label>
        <input 
            type="text" 
            class="form-control" 
            id="lastnameField" 
            placeholder="Enter Last Name"
            name="lastname"
            #name="ngModel"
            [(ngModel)]="register.lastname"
            [ngClass]="{ 'is-invalid': signupForm.submitted && name.invalid }"
            required>
        <div class="invalid-feedback" *ngIf="signupForm.submitted && name.invalid">
            <p *ngIf="name.errors.required">Lastname required</p>
        </div>
    </div>
    
    <label class="my-1 mr-2" for="usertypeField">User type</label>
    <select class="custom-select my-1 mr-sm-2" name="type"  id="usertypeField" [(ngModel)]="register.type">
        <option selected value="doctor">Doctor</option>
        <option value="patient">Patient</option>
    </select>

    <div class="form-group">
        <label for="usernameField">Username</label>
        <input type="text" 
            class="form-control" 
            id="usernameField" 
            placeholder="Enter Username"
            name="username"
            #name="ngModel"
            [(ngModel)]="register.username" 
            [ngClass]="{ 'is-invalid': signupForm.submitted && name.invalid }"
            required>
    <div class="invalid-feedback" *ngIf="signupForm.submitted && name.invalid">
        <p *ngIf="name.errors.required">Username required</p>
    </div>
    </div>
    <div class="form-group">
        <label for="emailField">Email address</label>
        <input type="email" 
            class="form-control" 
            id="emailField" 
            placeholder="Enter Email"
            name="email"
            #name="ngModel"
            [(ngModel)]="register.email" 
            [ngClass]="{ 'is-invalid': signupForm.submitted && name.invalid }"
            required>
        <div class="invalid-feedback" *ngIf="signupForm.submitted && name.invalid">
            <p *ngIf="name.errors.required">Email address required</p>
        </div>
    </div>
    <div class="form-group">
        <label for="passwordField">Password</label>
        <input type="password" 
            class="form-control" 
            id="passwordField" 
            placeholder="Enter Password"
            name="hashedPassword"
            #name="ngModel"
            [(ngModel)]="register.hashedPassword" 
            [ngClass]="{ 'is-invalid': signupForm.submitted && name.invalid }"
            required>
        <div class="invalid-feedback" *ngIf="signupForm.submitted && name.invalid">
            <p *ngIf="name.errors.required">Password required</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>&nbsp;
    <button class="btn btn-primary" routerLink="">Login</button>
  </form>